<!-- <ion-header> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content id="appCapsule">
  <!-- Heading Section -->
  <div class="header-large-title">
    <h1 class="title">About Us</h1>
    <h4 class="subtitle" style="font-weight: bold;">सादर जय जिनेन्द्र!</h4>
    <span>
      हमने विश्व के सभी स्थानकवासी जैन समाज को एक सूत्र में पिरोने के लिए जैन स्थानक नामक मोबाइल एप्प बनाया है। हालाकि जैन समाज से सम्बंधित अभी कई मोबाइल एप्प है परन्तु ये सभी अलग अलग संघो से जुडी है। सम्पूर्ण स्थानकवासी जैन समाज का यह एकमात्र एवं  प्रथम मोबाइल एप्प है।  जहाँ पर सभी जैन स्थानक की जानकारी संपर्क सूत्र के साथ अपने घर बठे जान सकते है।
       इसमें सभी जैन स्थानक से जुड़े जैन परिवारों की संघ वाइज डायरेक्टरी भी है। <br>
      मोबाईल नम्बर - <a target="_blank" rel="noopener noreferrer"  href="tel:{{9136197245}}">9136197245</a> <br>
      ईमेल - <a target="_blank" rel="noopener noreferrer"  href="mailto:ssjainsabha2012@gmail.com">ssjainsabha2012@gmail.com</a><br>
      सुझाव के लिए - <a [routerLink]="['/suggestion']"> यहाँ क्लिक करे </a>| <br> <!----->
      स्थानक विवरण के लिए - <a [routerLink]="['/tabs']"> यहाँ क्लिक करे </a> | <br><!--Home--->
      <!-- अपने स्थानक को एप्प में जोड़ने के लिए - <a href=""> यहाँ क्लिक करे </a> | <br>  -->
      जैन स्थानक के टेलीग्राम ग्रुप में जुड़ने लिए - <a target="_blank" rel="noopener noreferrer" href="https://t.me/jainsthanak"> यहाँ क्लिक करे </a> | <br><!--Telegram-->
      <!-- अपने जैन स्थानक के प्रोग्राम, सूचना या वीडियो आदि को चैनल में भेजने के लिए यहाँ क्लिक करे | <br> -->
      फेसबुक को शेयर/लाइक करे - <a target="_blank" rel="noopener noreferrer" href="http://www.facebook.com/ssjainsabhaonline">http://www.facebook.com/ssjainsabhaonline</a>
         <br>
    </span>
  </div>
</ion-content>
