<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Home</ion-label>
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="sthanak">
      <ion-label>My Sthanak</ion-label>
      <ion-icon name="grid-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-label>Chat</ion-label>
      <!-- <ion-badge>5</ion-badge> -->
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>