<!-- <ion-header> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
<!-- </ion-header> -->

<ion-content id="appCapsule">
  <div class="header-large-title">
    <h1 class="title">Advertise With Us</h1>
    <h4 class="subtitle"></h4>
  </div>

  <div class="section full mt-2">
    <div class="section-title">To Advertise, Please contact us at.</div>
  </div>
  <ul class="listview image-listview">
    <li>
      <a  target="_blank" rel="noopener noreferrer"  href="tel:{{9136197245}}" class="item">
          <div class="icon-box bg-black">
              <ion-icon name="call-outline"></ion-icon>
          </div>
          <div class="in">
              9136197245
          </div>
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener noreferrer"  href="mailto:info@tttech.net" class="item">
          <div class="icon-box bg-black">
              <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="in">
              info@tttech.net
          </div>
      </a>
    </li>
    <li>
        <a href="#" class="item">
            <div class="icon-box bg-black">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
            <div class="in">
                <div>Whatsapp</div>
            </div>
        </a>
    </li>
  </ul>

</ion-content>
